.backdrop {
	overflow: hidden;
	position: fixed;

	background: #0e0e0e;
	will-change: opacity;
	inset: 0;
	opacity: 0;
}

.drawer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	will-change: transform;
	transform: translateZ(1px);

	display: flex;
	flex-direction: column;

	width: 640px;
	height: 100%;

	background: #1f1f1f;
}

.header {
	margin: 0 0 1rem;
	padding: 2rem;

	color: #e3e3e3;
	background: #2d2f31;
}
