$bg: #f8f8f8;

.container {
	padding: 0 16px;
}

.menu {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 320px;
	border-radius: 12px;
	background: $bg;
}

.arrow {
	padding-left: 21px;
	fill: $bg;
}
